body{
	margin: 0px;
	background-color: #fff;
        color: #333333;
        font: 11px "Trebuchet MS",Verdana,sans-serif;
}

#maq_contenedor{        
	width: 960px;
	height: auto;
	margin: 0px auto;	
}

#maq_cabecera{
	width: 960px;	
	position: relative;
}

#maq_principal{
	width: 960px;
	height: auto;
	position: relative;
}

#maq_home{
	width: 960px;	
	position: relative;
}

#maq_interna{
	width: auto;
	height: auto;
}

#maq_pie{
	width: 960px;	
}