#web_interna{

}

#usuario_nuevo{
    border: 1px solid #D0D3D8;
    margin-bottom: 1em;
    padding-bottom: 3em;
    width: 300px;
    margin: auto;
}

h3{
    border-bottom: 1px solid #D0D1D5;
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 0.5em;
    padding: 0.5em;
}
.caja_texto{
    border: 1px solid #BDC2C9;
    width: 180px;
}
.web_boton1 {
        width: 81px;
	margin-top: 5px;
        margin-right: 10px;
	padding: 0px 13px;
	float: left;
	
}
.btn_envia{
    width: 50px;
}
.btn_recupera{
    width: 170px;
}

.web_boton1 {
    background: url("images/fondo_boton1.gif") repeat-x scroll 0 -24px transparent;    
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #7A7A78;
    display: block;
    font: bold 11px/24px Tahoma;
    height: 24px;
    outline: medium none;
    text-align: center;
    text-decoration: none;
}
.web_boton1:hover{
	color: #ffffff;
	text-decoration: none;
	background: url(images/fondo_boton1.gif) repeat-x 0px 0px;
}

div.error {
	background-color:#FF8F8F;
	border:1px solid #FF1111;	
	padding:5px;
	width:400px;
        margin: auto;
        margin-bottom:5px;

}