

<?php echo $message; ?>
<br>


		
<h3><b>Invitar usuario</b></h3>






<form action="<?php echo base_url(); ?>front_end/user_invite_proc" method="POST">
<table>
	<tr>
		<td>txt_email</td>
		<td><input type="text" name="txt_email" id="example" size="50"></td>
	</tr>
</table>
<input value="Enviar2" type="button" onclick="javascript:invite();">
</form>

<script type="text/javascript" src="<?php echo site_url()?>jquery-autocomplete//lib/jquery.js"></script>
<script type='text/javascript' src='<?php echo site_url()?>jquery-autocomplete//lib/jquery.bgiframe.min.js'></script>
<script type='text/javascript' src='<?php echo site_url()?>jquery-autocomplete//lib/jquery.ajaxQueue.js'></script>
<script type='text/javascript' src='<?php echo site_url()?>jquery-autocomplete//lib/thickbox-compressed.js'></script>
<script type='text/javascript' src='<?php echo site_url()?>jquery-autocomplete//jquery.autocomplete.js'></script>
<script type='text/javascript' src='<?php echo site_url()?>jquery-autocomplete/demo/localdata.js'></script>
<link rel="stylesheet" type="text/css" href="<?php echo site_url()?>jquery-autocomplete//jquery.autocomplete.css" />

<script type="text/javascript">
$(document).ready(function()
{
	$("#example").autocomplete('<?php echo base_url(); ?>front_end/getUsers', 
	{
		width: 300,
		multiple: false,
		matchContains: true
	});
});
</script>

<script type="text/javascript">

function invite()
{
	$.post
	(
		"<?php echo base_url(); ?>front_end/user_invite_proc",
		{
			txt_email: $("#example").val()
		},
		function(data){
			if (data=='OK'){
				
				
				alert('Se envio la Invitacion ');
				
//				window.location.href='<?php echo base_url(); ?>front_end/user_play_end';
				//user_play_end.html
				
			//	window.parent.location.reload(true);
			}else{
				alert(data);
			}
		}
	);
}
</script>
