<h3><b>HSITORIAL DE ALIDAOS</b></h3>
Juego A

<br>
<br>
220 ALIADOS

<br>
<br>

<table>
	<tr>
		<td>Nombre</td>
		<td>Acepto/No Acepto</td>
		<td>Gano/Perdio</td>
		<td>Fecha</td>
		<td>Invitar nuevamente</td>
	</tr>
</table>