<script type="text/javascript">
function play(id)
{
	$.post(
		"<?php echo base_url(); ?>front_end/invitado_play_start",{
			pk_juego: id
		},
		function(data){
			if (data=='OK'){
				window.location.href='<?php echo base_url(); ?>front_end/invitado_play_end';
			}else{
				//$.colorbox({html:data, innerWidth:250, innerHeight:150, iframe:false, transition:"fade"});
				alert(data);
			}
		}
	);
}
</script>

<h3><b>Jugar</b></h3>
<a href="#" onclick="javascript:play(1)">Mundo 1</a><br>
<a href="#" onclick="javascript:play(2)">Mundo 2</a><br>
<a href="#" onclick="javascript:play(3)">Mundo 3</a><br>
<a href="#" onclick="javascript:play(4)">Mundo 4</a><br>
<a href="#" onclick="javascript:play(5)">Mundo 5</a><br>