
<script type="text/javascript">
function register()
{
	$.post
	(
		"<?php echo base_url(); ?>front_end/user_save",
		{
			txt_nombre: $("#txt_nombre").val(),
			txt_apellidos: $("#txt_apellidos").val(),
			txt_email: $("#txt_email").val(),
			txt_email_apoderado: $("#txt_email_apoderado").val(),
			txt_password: $("#txt_password").val()
		},
		function(data){
			if (data=='OK'){
				window.parent.location.reload(true);
			}else{
				alert(data);
			}
		}
	);
}
</script>

<h3><b>Registro usuario</b></h3>

<form action="<?php echo base_url(); ?>front_end/user_save" method="POST">
<table>
	<tr>
		<td>txt_nombre</td>
		<td><input type="text" value="" name="txt_nombre" id="txt_nombre"></td>
		</tr>
	<tr>
		<td>txt_apellidos</td>
		<td><input type="text" value="" name="txt_apellidos" id="txt_apellidos"></td>
		</tr>
	<tr>
		<td>txt_email</td>
		<td><input type="text" value="" name="txt_email" id="txt_email"></td>
		</tr>
	<tr>
		<td>txt_email_apoderado</td>
		<td><input type="text" value="" name="txt_email_apoderado" id="txt_email_apoderado"></td>
		</tr>       		
	<tr>
		<td>txt_password</td>
		<td><input type="password" value="" name="txt_password" id="txt_password"></td>
		</tr>
</table>

<input type="button" value="Registrar" onclick="javascript:register()">
</form>
