<?php
ob_start();
?>
<h1>íYa casi terminas!</h1>
<p>
    Para poder iniciar sessi&oacute;n tienes que activar tu cuenta. Pideles a tus padres que revisen su correo electr&oacute;nico
</p>
<p>
    Hemos enviado un mensaje de correo a marco_cd80@hotmail.com. para activar tu cuenta.
</p>
<?php
$GLOBALS['TEMPLATE']['contenido'] = ob_get_clean();
ob_start();
?>
<?
$GLOBALS['TEMPLATE']['scripts'] = ob_get_clean();
$GLOBALS['TEMPLATE']['interna'] = 1;
include 'base.php';
?>