<h3><b>Login usuario</b></h3>

<script type="text/javascript">
function login()
{
	$.post
	(
		"<?php echo base_url(); ?>front_end/user_login_proc",
		{
			txt_email: $("#txt_email").val(),
			txt_password: $("#txt_password").val()
		},
		function(data){
			if (data=='OK'){
				window.parent.location.reload(true);
			}else{
				alert(data);
			}
		}
	);
}
</script>

<form action="<?php echo base_url(); ?>front_end/user_login_proc" method="POST">
<table>
	<tr>
		<td>txt_email</td>
		<td><input type="text" name="txt_email" id="txt_email" value="macfri10@gmail.com"></td>
	</tr>
	<tr>
		<td>txt_password</td>
		<td><input type="password" value="m4cf1" name="txt_password" id="txt_password"></td>
		</tr>
</table>
<input  type="button" onclick="javascript:login();" value="Enviar">

</form>
