		<script type="text/javascript" src="<?php echo site_url()?>jquery-autocomplete/lib/jquery.js"></script>
		<script type='text/javascript' src='<?php echo site_url()?>jquery-autocomplete/lib/jquery.bgiframe.min.js'></script>
		<script type='text/javascript' src='<?php echo site_url()?>jquery-autocomplete/lib/jquery.dimensions.js'></script>
		<script type='text/javascript' src='<?php echo site_url()?>jquery-autocomplete/lib/jquery.ajaxQueue.js'></script>
		<script type='text/javascript' src='<?php echo site_url()?>jquery-autocomplete/lib/thickbox-compressed.js'></script>
		<script type='text/javascript' src='<?php echo site_url()?>jquery-autocomplete/jquery.autocomplete.js'></script>
		<script type='text/javascript' src='<?php echo site_url()?>jquery-autocomplete/demo/localdata.js'></script>
		<link rel="stylesheet" type="text/css" href="<?php echo site_url()?>jquery-autocomplete/demo/main.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo site_url()?>jquery-autocomplete/jquery.autocomplete.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo site_url()?>jquery-autocomplete/lib/thickbox.css" />
		<script type="text/javascript">
		$(document).ready(function()
		{
			$("#example").autocomplete('<?php echo base_url(); ?>front_end/getUsers', 
			{
				width: 300,
				multiple: false,
				matchContains: true
			});
		});
		</script>
		
<h3><b>Invitar usuario</b></h3>

<form action="<?php echo base_url(); ?>front_end/user_invite_proc" method="POST">
<table>
	<tr>
		<td>txt_email</td>
		<td><input type="text" value="" name="txt_email" id="example"></td>
	</tr>
</table>
<input type="submit">
</form>
