<h3><b>Olvidate tu contrasena</b></h3>

<form action="<?php echo base_url(); ?>front_end/user_fpassword" method="POST">
<table>
	<tr>
		<td>txt_email</td>
		<td><input type="text" value="" name="txt_email"></td>
	</tr>
</table>
<input type="submit">
</form>
