<h3><b>Monedas</b></h3>


<script type="text/javascript">
function send_p()
{
	$.post
	(
		"<?php echo base_url(); ?>front_end/user_send_packing_proc",
		{
			txt_numero_codigo: $("#txt_numero_codigo").val()
		},
		function(data){
			if (data=='OK'){
				window.parent.location.reload(true);
			}else{
				alert(data);
			}
		}
	);
}
</script>


<form id="login" name="login" method="post" action="<?php echo base_url(); ?>front_end/user_send_packing_proc">
<ul>
<li>
<label class="label1">C&oacute;digo:</label>
<input type="text" name="txt_numero_codigo" id="txt_numero_codigo">
</li>
</ul>
<div class="clearIzq"></div>
<input type="button" onclick="javascript:send_p();" value="Enviar">
</form>