<h3><b>MIS ALIADOS</b></h3>

<table width="100%" border="0">
	<tr>
		<td>
			<table border="1" width="50%">
			
				<tr>
					<td>Fecha</td>
					<td>Nombre</td>
					<td>Juego</td>
					<td>Estado</td>
					<td>&nbsp;</td>
				</tr>
				<?php foreach ($data as $row){ ?>
				<tr>
					<td>Fecha</td>
					<td><?php echo $row->nombre_usuario; ?></td>
					<td><?php echo $row->nombre_juego; ?></td>
					<td><?php echo $row->int_estado==1?'ACEPTO':'PENDIENTE'; ?></td>
					<td align="center">
					
					<?php if ($row->int_estado==0){ ?>
					<a href="<?php echo base_url(); ?>front_end/invitado_play_start/<?php echo $row->pk_juego; ?>/<?php echo $row->pk_usuario; ?>">[RECORDAR]</a></td>
					<?php }else{ ?>
					GANO/PERDIO
					<?php } ?>
					
				</tr>
				<?php } ?>
			</table>
		</td>
	</tr>
</table>
