<?php
ob_start();
?>

<div>
    <h1>Bienvenido <?php echo $usuario[0]->txt_nickname?></h1>
    <p> Tu cuenta ya esta activa, Ya estas habilitado para jugar y ganar muchos premios. </p>
</div>

<?php
$GLOBALS['TEMPLATE']['contenido'] = ob_get_clean();
ob_start();
$GLOBALS['TEMPLATE']['scripts'] = ob_get_clean();
$GLOBALS['TEMPLATE']['interna'] = 1;
include 'base.php';
?>